body {
  background-color: #343332;
}

#clock {
  color: white;
  margin: auto;
  background-color: #343332;
}

#main-timer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  font-size: 10vh;
}

#work-time,
#break-time {
  color: white;
  font-size: 7vh;
  background-color: #343332;
  width: 33vw;
}

#set-work-time {
}

#set-break-time {
  float: right;
}

#play {
  background-color: #343332;
  border: 1px solid white;
  color: white;
  font-size: 10vw;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddd;
  }
  #main-timer {
    color: #343332;
  }
}
