:root {
  --dark-main-color: #343332;
  --dark-secondary-color: #dddddd;

  --light-main-color: #dddddd;
  --light-secondary-color: #343332;
}

body {
  background-color: var(--dark-main-color);
  font-family: 'Lato', sans-serif;
}

#clock {
  border: 2px solid var(--dark-secondary-color);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 95vmin;
  height: 60vh;
  margin-top: 5vh;
  overflow: hidden;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.5);

  /* Smooth on Resize */
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#main-timer {
  grid-area: 2 / 1 / 3 / 6;
  color: var(--dark-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vmin;
  cursor: default;
}

#clock.error #main-timer {
  font-size: 7vmin;
}

#work-time,
#break-time {
  box-sizing: border-box;
  margin-top: 1vh;
  border: none;
  border-bottom: 2px solid var(--dark-secondary-color);
  border-radius: 0;
  color: var(--dark-secondary-color);
  font-size: 5vmin;
  background-color: var(--dark-main-color);
  width: 90%;
  text-align: center;
  cursor: text;
}

#work-time:hover::placeholder,
#break-time:hover::placeholder {
  color: var(--dark-secondary-color);
  outline: none;
}

#work-time:focus,
#break-time:focus {
  outline: none;
}

#work-time {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: auto;
}

#break-time {
  grid-area: 1 / 4 / 2 / 6;
}

#playBtn,
#pauseBtn {
  grid-area: 3 / 3 / 4 / 4;
  margin-top: 2vh;
  background-color: var(--dark-main-color);
  border: 1px solid var(--dark-secondary-color);
  color: var(--dark-secondary-color);
  font-size: 6vmin;
  height: 50%;
  cursor: pointer;
}

#playBtn:active,
#pauseBtn:active {
  color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
}

#playBtn {
  visibility: visible;
}

#pauseBtn {
  visibility: hidden;
}

/* Animations */
/* Animations - START/STOP TIME */
div#clock.work-play,
div#clock.work-play * {
  animation: work-start 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.work-countdown,
div#clock.work-countdown * {
  animation: work-play 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.break-countdown,
div#clock.break-countdown * {
  animation: break-play 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.work-paused,
div#clock.work-paused * {
  animation: work-paused 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.break-paused,
div#clock.break-paused * {
  animation: break-paused 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.work-resume,
div#clock.work-resume * {
  animation: work-resume 0.3s ease-in;
  animation-fill-mode: forwards;
}

div#clock.break-resume,
div#clock.break-resume * {
  animation: break-resume 0.3s ease-in;
  animation-fill-mode: forwards;
}

.error,
.error * {
  animation: error 0.25s ease-in;
  animation-fill-mode: forwards;
}

.no-error,
.no-error * {
  animation: no-error 0.25s ease-in;
  animation-fill-mode: forwards;
}

/* Animations - KEYFRAMES */
@keyframes work-start {
  from {
    color: var(--dark-secondary-color);
    border-color: var(--dark-secondary-color);
  }
  to {
    color: green;
    border-color: green;
  }
}

@keyframes work-play {
  from {
    color: #10a5f5;
    border-color: #10a5f5;
  }
  to {
    color: green;
    border-color: green;
  }
}

@keyframes break-play {
  from {
    color: green;
    border-color: green;
  }
  to {
    color: #10a5f5;
    border-color: #10a5f5;
  }
}

@keyframes work-paused {
  from {
    color: green;
    border-color: green;
  }
  to {
    color: yellow;
    border-color: yellow;
  }
}

@keyframes break-paused {
  from {
    color: #10a5f5;
    border-color: #10a5f5;
  }
  to {
    color: yellow;
    border-color: yellow;
  }
}

@keyframes work-resume {
  from {
    color: yellow;
    border-color: yellow;
  }
  to {
    color: green;
    border-color: green;
  }
}

@keyframes break-resume {
  from {
    color: yellow;
    border-color: yellow;
  }
  to {
    color: #10a5f5;
    border-color: #10a5f5;
  }
}

@keyframes error {
  from {
    color: var(--dark-secondary-color);
    border-color: var(--dark-secondary-color);
  }
  to {
    color: red;
    border-color: red;
  }
}

@keyframes no-error {
  from {
    color: red;
    border-color: red;
  }
  to {
    color: var(--dark-secondary-color);
    border-color: var(--dark-secondary-color);
  }
}

/* Media Queries */
@media screen and (max-height: 820px) {
  #clock {
    height: 50vh;
  }
}

@media screen and (max-width: 820px) and (min-height: 500px) {
  #clock {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(4, 0.25fr) repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #main-timer {
    grid-area: 2 / 1 / 3 / 9;
  }

  #work-time {
    grid-area: 1 / 1 / 2 / 4;
  }
  #break-time {
    grid-area: 1 / 6 / 2 / 9;
  }

  #playBtn,
  #pauseBtn {
    grid-area: 3 / 3 / 4 / 7;
    height: 45%;
  }
}

/* Light/Dark Mode Support */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-main-color);
  }

  #clock {
    border: 2px solid var(--light-secondary-color);
  }

  #main-timer {
    color: var(--light-secondary-color);
  }

  #work-time,
  #break-time {
    background-color: var(--light-main-color);
    color: var(--light-secondary-color-color);
    border-bottom: 2px solid var(--light-secondary-color);
  }

  #work-time:hover::placeholder,
  #break-time:hover::placeholder {
    color: var(--light-secondary-color);
  }

  #playBtn,
  #pauseBtn {
    background-color: var(--light-main-color);
    border: 1px solid var(--light-secondary-color);
    color: var(--light-secondary-color);
  }

  input::placeholder {
    color: grey;
  }

  /* Light Animations */
  @keyframes work-start {
    from {
      color: var(--light-secondary-color);
      border-color: var(--light-secondary-color);
    }
    to {
      color: green;
      border-color: green;
    }
  }

  @keyframes work-paused {
    from {
      color: green;
      border-color: green;
    }
    to {
      color: #bdbd00;
      border-color: #bdbd00;
    }
  }

  @keyframes break-paused {
    from {
      color: #10a5f5;
      border-color: #10a5f5;
    }
    to {
      color: #bdbd00;
      border-color: #bdbd00;
    }
  }

  @keyframes work-resume {
    from {
      color: #bdbd00;
      border-color: #bdbd00;
    }
    to {
      color: green;
      border-color: green;
    }
  }

  @keyframes break-resume {
    from {
      color: #bdbd00;
      border-color: #bdbd00;
    }
    to {
      color: #10a5f5;
      border-color: #10a5f5;
    }
  }

  @keyframes error {
    from {
      color: var(--light-secondary-color);
      border-color: var(--light-secondary-color);
    }
    to {
      color: red;
      border-color: red;
    }
  }

  @keyframes no-error {
    from {
      color: red;
      border-color: red;
    }
    to {
      color: var(--light-secondary-color);
      border-color: var(--light-secondary-color);
    }
  }
}
