body {
  background-color: #343332;
}

#clock {
  border: 2px solid pink;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90vmin;
  height: 50vh;
  color: white;
  margin-top: 5vh;
  overflow: hidden;
}

#main-timer {
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  cursor: default;
}

#work-time,
#break-time {
  box-sizing: border-box;
  margin-top: 1vh;
  border: none;
  color: white;
  font-size: 7vh;
  background-color: #343332;
  width: 90%;
  text-align: center;
  cursor: text;
}

#work-time:hover,
#break-time:hover {
  border-bottom: 2px solid pink;
  outline: none;
}

#work-time:focus,
#break-time:focus {
  border-bottom: 2px solid pink;
  outline: none;
}

#work-time {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 5vh;
  margin-left: auto;
}

#break-time {
  grid-area: 1 / 4 / 2 / 6;
  font-size: 5vh;
}

#play,
#pause {
  grid-area: 3 / 3 / 4 / 4;
  margin-top: 2vh;
  background-color: #343332;
  border: 1px solid white;
  color: white;
  font-size: 6vh;
  height: 50%;
  cursor: pointer;
}

#play {
  visibility: visible;
}

#pause {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddd;
  }
  #main-timer {
    color: #343332;
  }

  #work-time,
  #break-time {
    background-color: #dddddd;
    color: #343332;
  }

  ::placeholder {
    color: grey;
  }
}
